#{form action:@list().remove('page'), method:'GET'}
    #{if _fields}
        <input type="hidden" name="searchFields" value="${_fields.toString().substring(1, _fields.toString().length()-1).replace(',', '')}" />
    #{/if}
    <div class="form-inline text-right">
        <div class="form-group">
            #{if _caller.params.search}
            <div class="input-group">
                <input class="form-control" type="text" name="search" value="${params.search?.escape()?.raw()}" />
                <a class="input-group-addon" href="@{list()}">&{'crud.list.totalSize', _caller.totalCount}</a>
            </div>
            #{/if}
            #{else}
            <input class="form-control" type="text" name="search" value="${params.search?.escape()?.raw()}" />
            #{/else}
        </div>
        <input class="btn btn-default" type="submit" value="&{'crud.search'}" />

    </div>
#{/form}
