#{extends 'admin_main.html' /}
#{set title:messages.get('user.create.title') /}

<div class="row">
    <div class="col-md-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>&{'user.create.title'}</h2>
            </div>
            <div class="panel-body">

            #{form action:@createImpl(), enctype:'multipart/form-data', class: 'form-horizontal'}
                <div class="form-group">
                    <div class="col-md-2">
                        <label>&{'user.login'}:</label>
                    </div>
                    <div class="col-md-10">
                        <input name="login" type="text" class="form-control" value="${flash.login}">
                        <span class="alert-danger">#{error 'login' /}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label>&{'user.password'}</label>
                    </div>
                    <div class="col-md-10">
                        <input name="password" type="password" class="form-control">
                        <span class="alert-danger">#{error 'password' /}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label>&{'user.repeatPassword'}</label>
                    </div>
                    <div class="col-md-10">
                        <input name="passwordRepeat" type="password" class="form-control">
                        <span class="alert-danger">#{error 'passwordRepeat' /}</span>
                    </div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary">&{'user.create.title'}</button>
                </div>
            #{/form}

            </div>
        </div>
    </div>
</div>