#{extends 'admin_main.html' /}
#{set title:messages.get('user.edit.title', user.login) /}

<div class="row">
    <div class="col-md-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>${messages.get('user.edit.title', user.login)}</h2>
            </div>
            <div class="panel-body">

            #{form action:@editImpl(), enctype:'multipart/form-data', class: 'form-horizontal'}
                <div class="form-group">
                    <div class="col-md-2">
                        <label>&{'user.login'}:</label>
                    </div>
                    <div class="col-md-10">
                        ${user.login}
                        <input name="login" type="hidden" value="${user.login}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label>&{'user.password'}</label>
                    </div>
                    <div class="col-md-10">
                        <input name="newPassword" type="password" class="form-control">
                        <span class="alert-danger">#{error 'newPassword' /}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label>&{'user.repeatPassword'}</label>
                    </div>
                    <div class="col-md-10">
                        <input name="newPasswordRepeat" type="password" class="form-control">
                        <span class="alert-danger">#{error 'newPasswordRepeat' /}</span>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">&{'user.save'}</button>
                </div>
            #{/form}

            </div>
        </div>
    </div>
</div>